@import '../../../styles/Variables.scss';

.aboutMe-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    scroll-margin-block: 100px;
    padding: 30px 30px 200px 30px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .5);
   // background-color: rgba(118, 174, 241, 1);
    &__h2 {
        @include title-h2;
        color: $color-title-black;
        @media all and (min-width:768px) {
            font-size: 2rem;
        }

        @media all and (min-width:1200px) {
            width: 100%;
            font-size: 2.5rem;
        }
    };

    &__description {
        font-size: 1rem;
        text-align: justify;
        font-family: monospace;
        max-width: 650px;
        margin: 10px 5px;
        color: rgba(40, 157, 189, 0.829);

        @media all and (min-width:768px) {
            font-size: 1.5rem;
            width: 95%;
        }

        @media all and (min-width:1200px) {
            margin: 10px 0;
            font-size: 1.4rem;
            width: 50%;
        }
    }
};

.aboutMe-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-block: 100px;
    //border: solid $color-blue 2px;
    padding:30px 30px 200px 30px;;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .5);
    //background-color: rgba(118, 174, 241, 1);
    //scroll-margin-top: 80px;
    &__h2 {
        @include title-h2;
        color:$color-blue;

        @media all and (min-width:768px) {
            font-size: 2rem;
        }

        @media all and (min-width:1200px) {
            font-size: 2.5rem;
        }
    };

    &__description {
        font-size: 1rem;
        text-align: justify;
        margin: 10px 5px;
        font-family: 'Luxurious Roman', cursive;
        color: rgb(11, 40, 48);
        max-width: 650px;

        @media all and (min-width:768px) {
            font-size: 1.5rem;
            width: 95%;
        }

        @media all and (min-width:1200px) {
            margin: 10px 0;
            font-size: 1.6rem;
            width: 50%;
        }
    }
};
