@import "../../styles/Variables.scss";

.project-black{
  padding:20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 5px 20px rgba(0,0,0,.5);
  background-color: $color-black;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 10px;
  }
  &::-webkit-scrollbar-button:increment,
  .contenedor::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-title-black;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-black;
    width: 100%;

    @media all and(min-width:768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &--title {
      @include title-h2;
      color:$color-title-black;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    border: solid 2px $color-blue;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 3px 5px 5px rgba(122, 218, 224, 0.356);
    height: auto;
    &:hover{
      border: solid 5px rgb(4, 70, 75);
    }

    @media all and (min-width: 768px) {
      width: 570px;
      height: 570px;
      margin: 10px;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
    }
    @media all and (min-width: 1200px) {
      width: 400px;
      height: 530px;
    }

    &--title {
      font-size: 1rem;
      font-family: "Luxurious Roman", cursive;
      color: rgb(8, 91, 97);
      padding: 5px;
      width: 100%;
      @media all and (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    &--image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    &--tecnolog {
      margin: 10px;
      border-top: solid 2px $color-blue;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
      color: rgb(8, 91, 97);
      font-size: 20px;

      @media all and(min-width:1200px) {
        font-size: 30px;
      }
    }

    &--description {
      font-family: "Luxurious Roman", cursive;
      color: $color-blue;
      margin: 5px 10px;
      text-align:center;
    }
  }
}

.link-projects {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: solid 2px $color-blue;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
  &__icon {
    @include icon;
  }

  &__demo {
    @include icon;
  }
}

.img {
  width: 30px;
}

.project-white{
  padding:10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 5px 20px rgba(0,0,0,.5);
  background-color: $color-back;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 10px;
  }
  &::-webkit-scrollbar-button:increment,
  .contenedor::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-blue;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media all and(min-width:768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &--title {
      @include title-h2;
      color:$color-blue;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    border: solid 2px $color-blue;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 3px 5px 5px rgba(122, 218, 224, 0.356);
    height: auto;
    &:hover{
      border: solid 5px rgb(4, 70, 75);
    }

    @media all and (min-width: 768px) {
      width: 570px;
      height: 570px;
      margin: 10px;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
    }
    @media all and (min-width: 1200px) {
      width: 400px;
      height: 530px;
    }

    &--title {
      font-size: 1rem;
      font-family: "Luxurious Roman", cursive;
      color: rgb(8, 91, 97);
      padding: 5px;
      width: 100%;
      @media all and (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    &--image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    &--tecnolog {
      margin: 10px;
      border-top: solid 2px $color-blue;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.5);
      color: rgb(8, 91, 97);
      font-size: 20px;

      @media all and(min-width:1200px) {
        font-size: 30px;
      }
    }

    &--description {
      font-family: "Luxurious Roman", cursive;
      color: $color-blue;
      margin: 5px 10px;
      text-align:center;
    }
  }
}