@import "./Variables.scss";

.nav-contact-black{
    display:flex;
    justify-content: center;
    margin:10px;
    &__icons{
        margin:5px;
        padding:10px;
        width: 40px;
        @media all and (min-width:768px){
         width: 50px;
        }
        &--link{
            font-size: 20px;
            padding:15px;
            color:white;
            &:hover{
                color: #27c3df;
            }
            @media all and (min-width:768px){
                font-size: 35px;
               }
        }
    }
};

.nav-contact-white{
    display:flex;
    justify-content: center;
    margin:10px;
    &__icons{
        margin:5px;
        padding:10px;
        width: 40px;
        @media all and (min-width:768px){
         width: 50px;
        }
        &--link{
            font-size: 20px;
            padding:15px;
            color:$color-blue;
            &:hover{
                color: #27c3df;
            }
            @media all and (min-width:768px){
                font-size: 35px;
               }
        }
    }
}