@import '../styles/Variables.scss';

.article-black{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color: $color-black;
    &__tecnologias{
        @include title-h2;
        color:$color-title-black;
        margin-top:50px;
    }
    &__text{
        color:$color-title-black;
        margin:20px 0 10px 0;
        font-size: 1.2rem;
        @media all and(min-width:768px){
        font-size: 1.5rem;
        }
    }
};
.skills{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:5px 20px;
    width: 300px;
    background-color: rgba(198, 235, 235, 0.123);
    //box-shadow: 10px 0 20px rgba(33, 192, 192, 0.301);
    @media all and(min-width:768px){
        width: 500px;
        }
    &:hover{
        color:rgb(11, 40, 48);
    }
    &-item{
        padding:5px;
        color:$color-title-black;
        @media all and(min-width:768px){
            font-size: 2.4rem;
            }
            @media all and(min-width:1200px){
                font-size: 3.5rem;
                }
    }
};

.article-white{
    display:flex;
    flex-direction: column;
    align-items: center;
    &__tecnologias{
        @include title-h2;
        color:$color-blue;
        margin:50px 0 20px 0;
    }
    &__text{
        color:rgb(11, 40, 48);
        margin:10px 0 10px 0;
        font-size: 1.2rem;
        @media all and(min-width:768px){
        font-size: 1.5rem;
        }
    }
};