@import "../../../styles/Variables.scss";

.footer-black {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top:100px;
  background-color: $color-black;
  &__contact{
    padding:50px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    &--text{
      color:$color-title-black;
      font-family: monospace;
      max-width: 80%;
      margin-bottom: 35px;
      @media all and(min-width:750px){
        font-size: 1.3rem;
        width: 100%;
      }
    }
  }
  &__made {
    text-align: center;
    margin: 15px;
    padding: 10px;
    width: 100%;
    border-top: white solid 2px;
    color:$color-title-black;
    @media all and (min-width: 768px) {
      font-size: 1.2rem;
    }
    &--heart {
      color: red;
      font-size: 1.2rem;
      margin-left: 5px;
      position: absolute;
      animation: latido 1s infinite linear;
    }
  }
};

.form-black{
display: flex;
width: 80%;
flex-direction: column;
label{
  position:relative;
  .icon{
    font-size: 1.1rem;
    position:absolute;
    top:8px;
    color:white;
    @media all and(min-width:768px){
      font-size: 1.5rem;
    }
  }
}
&__input{
  width: 100%;
  border: none;
  border-bottom:solid 3px $color-title-black;
  padding:5px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.103);
  @media all and(min-width:750px){
    font-size: 1.2rem;
  }
  @media all and(min-width:1200px){
    font-size: 1.3rem;
    width: 50%;
  };
}
&__textarea{
  width: 100%;
  margin-top:50px;
  padding: 10px;
  @media all and(min-width:1200px){
    font-size: 1.3rem;
  };
}
&__btn{
  margin:20px;
  width: 100px;
  height: 30px;
  background-color: $color-title-black;
  color:$color-blue;
  text-transform: uppercase;
  font-family: monospace;
  &:hover{
  font-size: 1.2rem;
  }
  @media all and(min-width:750px){
    width: 150px;
    font-size: 1.2rem;
    height: 35px;
  }
  @media all and(min-width:1200px){
    font-size: 1.3rem;
    width: 200px;
    height: 40px;
  };
}
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}


.footer-white {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top:100px;
  &__contact{
    padding:50px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--text{
      color:$color-blue;
      font-family: monospace;
      max-width: 80%;
      margin-bottom: 35px;
      text-align: justify;
      @media all and(min-width:750px){
        font-size: 1.3rem;
      }
    }
  }
  &__made {
    text-align: center;
    margin: 15px;
    padding: 10px;
    width: 100%;
    border-top: white solid 2px;
    color:$color-blue;
    @media all and (min-width: 768px) {
      font-size: 1.2rem;
    }
    &--heart {
      color: red;
      font-size: 1.2rem;
      margin-left: 5px;
      position: absolute;
      animation: latido 1s infinite linear;
    }
  }
};
.form-white{
  display: flex;
width: 80%;
flex-direction: column;
label{
  position:relative;
  text-align: left;
  .icon{
    font-size: 1.1rem;
    position:absolute;
    top:7px;
    left: 4px;
    color:$color-title-black;
    @media all and(min-width:768px){
      font-size: 1.5rem;
    }
  }
}
&__input{
  width: 100%;
  border: none;
  border-bottom:solid 3px $color-title-black;
  padding:5px 40px;
  color: black;
  background-color: rgba(0, 0, 0, 0.103);
  @media all and(min-width:750px){
    font-size: 1.2rem;
  }
  @media all and(min-width:1200px){
    font-size: 1.3rem;
    width: 50%;
  };
}
&__textarea{
  width: 100%;
  margin-top:50px;
  padding: 10px;
  @media all and(min-width:1200px){
    font-size: 1.3rem;
  };
}
&__btn{
  margin:20px;
  width: 100px;
  height: 30px;
  background-color: $color-title-black;
  color:$color-blue;
  text-transform: uppercase;
  font-family: monospace;
  &:hover{
  font-size: 1.2rem;
  }
  @media all and(min-width:750px){
    width: 150px;
    font-size: 1.2rem;
    height: 35px;
  }
  @media all and(min-width:1200px){
    font-size: 1.3rem;
    width: 200px;
    height: 40px;
  };
}
}