@import "../../../styles/Variables.scss";

.header-black {
  width: 100%;
  background-color: #1d1d1d;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-title-black;
  position: fixed;
  top: 0;
  z-index: 1;
  &_nav {
    display: none;
    column-gap: 20px;
    @media all and(min-width:768px) {
      display: flex;
    }
    a {
      color: $color-title-black;
    }
  }
  &_bars {
    position: absolute;
    right: -10px;
    background-color: #1d1d1dc6;
    padding:4px;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 10px;
    width: 120px;
    transition: all 0.6s;
    transform: translateY(20px);
   a{
    color: $color-title-black;
   }
  }
  &__isNotActive{
    transition: all 0.6s;
    transform: translateY(-20px);
  }
  .bars {
    display: block;
    position: relative;
    @media all and(min-width:768px) {
      display: none;
    }
  }
  &icon {
    color: white;
    cursor:pointer;
  }
  &__div {
    background-color: rgb(12, 94, 94);
    width: 40px;
    line-height: 20px;
    padding: 1px;
    border-radius: 30px;
    @media all and(min-width:768px) {
      width: 50px;
      height: 30px;
      padding: 5px;
    }
    &--change {
      border-radius: 50%;
    }
  }
  &__transl {
    cursor: pointer;
  }
}

.header-white {
  width: 100%;
  background-color: rgba(24, 170, 207, 0.814);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: $color-blue;
  position: fixed;
  z-index: 1;
  top: 0;
  &_nav {
    display: none;
    column-gap: 20px;
    @media all and(min-width:768px) {
      display: flex;
    }
    a {
      color: $color-blue;
    }
  }
  &_bars {
    position: absolute;
    right: -20px;
    padding:4px;
    background-color: rgba(24, 170, 207, 0.814);
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 10px;
    width: 120px;
    transition: all 0.6s;
    transform: translateY(27px);
   a{
    color: $color-blue;
   }
  }
  &__isNotActive{
    transition: all 0.6s;
    transform: translateY(-20px);
  }
  .bars {
    display: block;
    position: relative;
    @media all and(min-width:768px) {
      display: none;
    }
  }
  &icon {
    color: white;
    cursor:pointer;
  }
  &__div {
    background-color: #0212146b;
    width: 40px;
    border-radius: 30px;
    line-height: 17px;
    padding: 1px;
    text-align: right;
    @media all and(min-width:768px) {
      width: 50px;
      height: 30px;
      padding:5px;
    }
    &--change {
      border-radius: 50%;
    }
  }
  &__transl {
    cursor: pointer;
  }
}

.div {
  background-color: #1d1d1d;
}

.section-onOff {
  display: flex;
  align-items: center;
  &__p {
    padding: 5px;
  }
}
